{% extends 'news_app/base.html' %}

{% block title %}
    Регистрация :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="col-md-5 offset-md-3 row g-4">

        {% block messages %}
            {% include 'news_app/inc/_messages.html' %}
        {% endblock %}

        <h1 class="text-center fw-light">Регистрация</h1>

        <div class="card form-card">
            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="custom-btn btn w-100 btn-outline-light mt-5">
                    Регистрация
                </button>
            </form>
        </div>

    </div>
{% endblock %}
